/*  Og贸lne style */
body {
    font-family: 'Cal Sans', sans-serif; /* Zmieniono na Cal Sans */
    background-color: #1f1f1f; /* Ciemny motyw */
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*  Nag贸wek */
header {
    margin-top: 100px;
    font-size: 2.5em;
}

/*  Nag贸wki */
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

p {
    font-size: 1.2em;
    color: #aaa;
}

/*  Kontener g贸wny */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/*  Stopka */
footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #aaa;
}

/*  Strona video.html */

/*  BIO */
.bio-container {
    background-color: #2e2e2e;
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
}

/*  Nag贸wek profilu */
.bio-header {
    text-align: center;
    margin-bottom: 30px;
}

/*  Profilowe */
.bio-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #6b03fc;
    background-color: #444;
    object-fit: cover;
}

/*  Nazwa u偶ytkownika */
.bio-container h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

/*  Opis */
.bio-container h2 {
    font-size: 1.8em;
    color: #6b03fc;
}

/*  Sekcje informacji */
.bio-container h3 {
    font-size: 1.5em;
    margin-top: 30px;
}

/*  Tekst */
.bio-container p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #ccc;
}

/*  Lista link贸w */
.bio-container ul {
    list-style: none;
    padding: 0;
}

.bio-container ul li {
    font-size: 1.1em;
    margin: 10px 0;
}

/*  Linki */
.bio-container ul li a {
    color: #6b03fc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.bio-container ul li a:hover {
    color: #8c1bff;
}
